{% apply spaceless %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {# snake_case convention @see https://twig.symfony.com/doc/2.x/tags/extends.html#named-block-end-tags #}
        <title>{% block meta_title %}{{ 'app.common.brand'|trans() }} {{ 'app.common.label.administration'|trans() }}{% endblock %}</title>
        {% block stylesheets %}
            {# 'back-app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('back_app') }}
        {% endblock %}
    </head>
    <body>
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="login-form">
            {% for type in ['success', 'error', 'notice'] %}
                {% for flash in app.session.flashbag.get(type) %}
                    <div class="alert alert-{{ type == 'error' ? 'danger' : type == 'notice' ? 'warning' : type }}">
                        {{ flash|trans|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
            <form method="post">
                <div class="top">
                    <h1 style="margin-top: 10px;">{{ 'app.common.label.administration'|trans() }}</h1>
                </div>
                <div class="form-area">
                    <div class="group">
                        <input type="email" class="form-control" name="email" placeholder="{{ 'app.user.email'|trans() }}" value="{{ last_username }}" autofocus>
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="group">
                        <input type="password" class="form-control" name="password" placeholder="{{ 'app.user.password'|trans() }}">
                        <i class="fa fa-key"></i>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    {% if error %}
                        <div class="kode-alert kode-alert-icon alert5-light">
                            <i class="fa fa-warning"></i>
                            <a href="javascript:" class="closed">×</a>
                            {{ error.message }}
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-default btn-block">{{ 'app.common.action.connect'|trans() }}</button>
                </div>
            </form>
        </div>
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('back_app') }}
    {% endblock %}
    </body>
    </html>
{% endapply %}