{% import 'web/back/macros/icons.html.twig' as icons %}
    <div class="sidebar sidebar-colorful clearfix">
            <ul class="sidebar-panel nav">
                <li>
                    <a class="{{ 'user' == app.request.attributes.get('_active') ? 'active' }}" href="{{ path('user_back_index') }}">
                        <span class="icon color1">{{ icons.user }}</span>
                        {{ 'app.user.plural'|trans }}
                    </a>
                </li>

            </ul>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <ul class="sidebar-panel nav">
                <li>
                    <a class="{{ 'concession' == app.request.attributes.get('_active') ? 'active' }}" href="{{ path('concession_back_index') }}">
                        <span class="icon color1">{{ icons.concession }}</span>
                        {{ 'app.concession.plural'|trans }}
                    </a>
                </li>
            </ul>
        {% endif %}
            <ul class="sidebar-panel nav">
                <li>
                    <a class="{{ 'vehicle_model' == app.request.attributes.get('_active') ? 'active' }}" href="{{ path('vehicle_model_back_index') }}">
                        <span class="icon color1">{{ icons.vehicle }}</span>
                        {{ 'app.vehicle_model.plural'|trans }}
                    </a>
                </li>
            </ul>
            <ul class="sidebar-panel nav">
                <li>
                    <a class="{{ 'vehicle_model' == app.request.attributes.get('_active') ? 'active' }}" href="{{ path('export_back_index') }}">
                        <span class="icon color1">{{ icons.csv }}</span>
                        {{ 'app.export.plural'|trans }}
                    </a>
                </li>
            </ul>
    </div>