{% extends 'web/back/base.html.twig' %}

{% import 'web/back/macros/buttons.html.twig' as buttons %}
{% import 'web/back/macros/icons.html.twig' as icons %}

{% block header %}
    <div class="page-header">
        <div class="left">
            <h1 class="title">
                {{ icons.user }}
                {{ 'app.user.plural'|trans }}
            </h1>
        </div>
        <div class="right">
            <a class="btn btn-default" href="{{ path('user_back_index') }}">
                <i class="fa fa-caret-left"></i>
                {{ 'app.common.action.back'|trans }}
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form_start(form, {attr:{novalidate:"novalidate"}}) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.roles) }}
            {{ form_row(form.concession) }}
            {{ buttons.submit }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
