{% extends 'web/back/base.html.twig' %}

{% import 'web/back/macros/buttons.html.twig' as buttons %}
{% import 'web/back/macros/icons.html.twig' as icons %}

{% block header %}
    <div class="page-header">
        <div class="left">
            <h1 class="title">
                {{ icons.user }}
                {{ 'app.user.plural'|trans }}
            </h1>
        </div>
        <div class="right">
            <a class="btn btn-default" href="{{ path('user_back_index') }}">
                <i class="fa fa-caret-left"></i>
                {{ 'app.common.action.back'|trans }}
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
            <div class="panel panel-default ps-lg-4">
                <div class="panel-title text-center">
                    {{ user.firstName }} {{ user.lastName }}

                    <span class="badge text-center">
                        {{ ('app.user.roles.' ~ user.roles|first|lower)|trans }}
                    </span>
                </div>

                <div class="panel-body text-center">
                    {{ user.email }}
                </div>

                <div class="panel-body text-center"  style="margin-top: 10px;">
                    <h5 style="color: #58666E">{{ 'app.user.vehicle_length'|trans ~ user.vehicles|length }}</h5>

                </div>


                <div class="panel-body text-center"  style="margin-top: 10px;">
                    <a class="btn btn-default" href="{{ path('vehicle_back_index', {'id': user.id}) }}">
                        {{ icons.vehicle }}
                        {{ 'app.user.vehicle_show'|trans }}
                    </a>
                </div>

                <div class="row" style="margin-top: 20px;">
                {% for userVehicle in user.vehicles %}
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                {{ userVehicle.vehicleModel.brand }}
                                {{ userVehicle.vehicleModel.name }}
                            </div>

                            <div class="panel-footer text-center">
                                <a class="btn" href="{{ path('vehicle_model_back_show', {'id': userVehicle.vehicleModel.id }) }}">
                                    {{ icons.vehicle }}
                                    {{ 'app.user.vehicle_model_show'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                {%endfor%}
                </div>
            </div>



        {% if is_granted(user.roles|first) %}
        <div class="col-lg-12">
            <div class="panel-header" style="display: flex; justify-content: space-around;">
                <div class="panel-group">
                    {{ buttons.delete(path('user_back_delete', {'id': user.id})) }}
                </div>
                <div class="panel-group">
                    {{ buttons.update(path('user_back_update', {'id': user.id})) }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
