{% extends 'web/back/base.html.twig' %}

{% import 'web/back/macros/buttons.html.twig' as buttons %}
{% import 'web/back/macros/icons.html.twig' as icons %}

{% block header %}
    <div class="page-header" >
        <div class="left">
            <h1 class="title">
                {{ icons.user }}
                {{ 'app.user.vehicle'|trans }}
            </h1>
        </div>

        <div class="right">
            <a class="btn btn-default text-right" href="{{ path('user_back_show', {'id': user.id}) }}" data-test="update-btn">
                <i class="fa fa-caret-left"></i>
                {{ 'app.common.action.back'|trans }}
            </a>
            <a href="{{ path('vehicle_back_create', {'id': user.id}) }}" class="btn btn-default text-right" data-test="update-btn">
                <i class="fa fa-pencil"></i>
                {{ 'app.user.create'|trans }}
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
                <div class="panel panel-default" style="margin-top: 20px;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <colgroup>
                                    <col />
                                    <col />
                                    <col />
                                    <col width="1"/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>{{ 'app.user.vehicle_brand'|trans }}</th>
                                    <th>{{ 'app.user.vehicle_name'|trans }}</th>
                                    <th>{{ 'app.user.vehicle_color'|trans }}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for userVehicle in user.vehicles %}
                                        <tr>
                                            <td>{{ userVehicle.vehicleModel.brand }}</td>
                                            <td>{{ userVehicle.vehicleModel.name }}</td>
                                            <td>{{ userVehicle.color }}</td>
                                            <td>{{ buttons.delete(path('vehicle_back_delete', {'user_id': user.id, 'id': userVehicle.id})) }}</td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
{% endblock %}
